/* RecipesContainer.module.css */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas con igual ancho */
    grid-gap: 1rem; /* Espacio entre las recetas */
  }
  