

.landing {
  background-image: url('../../asset/image/pizzafuego.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.heading {
  color: black;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.title {
  font-family: "Playfair Display";
  font-size: 60px;
  margin-bottom: 5px;
  letter-spacing: 10px;
}

.bienvenidos {
  font-family: 'Prata', serif;
  font-size: 18px;
  letter-spacing: 6px;
  margin-top: 50px;
  margin-bottom: -30px;
}

.subTitle {
  font-family: "Qwitcher Grypen";
  font-size: 50px;
  margin-top: 2px;
  letter-spacing: 20px;
}

.ctaButton {
  background-color: black;
  color: rgb(237, 233, 6);
  border: none;
  border-radius: 10px;
  border: solid 1px yellow;
  padding: 10px 10px;
  font-size: 16px;
  letter-spacing: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Dancing Script', cursive;
}

@keyframes pulse {
  from {
    box-shadow: 0 0 25px #f504d5, 0 0 50px #1a0011;
  }
}


 .ctaButton:focus{
  animation:
  pulse 0.5s ease-in-out;
 }